
	<footer id="colophon" class="site-footer row" role="contentinfo">
	<div class="container">
			<div class="site-info col-md-4">
						Adapted from <a href="http://inkhive.com/product/aldehyde" rel="designer">Aldehyde</a> by Rohit Tripathi</div><!-- .site-info -->
		
		<div id="footertext" class="col-md-7">
		Remixed for bolt by gpls.nl
        	</div>

        {{ widgets('footer') }}
	</div>   
	</footer><!-- #colophon -->
	
</div><!-- #page -->

<script type='text/javascript' src='{{ paths.theme }}/js/navigation.js?ver=20120206'></script>
<script type='text/javascript' src='{{ paths.theme }}/js/skip-link-focus-fix.js?ver=20130115'></script>
<script type='text/javascript' src='{{ paths.theme }}/js/jquery/ui/jquery.ui.effect.min.js?ver=1.10.4'></script>
<script type='text/javascript' src='{{ paths.theme }}/js/jquery/ui/jquery.ui.effect-bounce.min.js?ver=1.10.4'></script>
</body>
</html>
